.right{
    float:right;
}

.left{
    float:left;
}
.center{
	margin: auto;
}
.bottom{
	float: bottom;
}

/* EditButton for items */
.EditButton {
   margin-left: 5px;
   margin-top: -3px;
   background: #A8B3B7;
   border-radius: 2px;
   text-align: center;
   border: 0.5px solid #8A9498;
   width: 20px;
   height: 20px;
}
.EditButton:hover{
	background: #828D90;
}

.glyphicon.glyphicon-pencil {
    font-size: 10px;
    color: #575C5E;
}

/* Location pop up */
.LocationTip {
	border-radius: 8px;
	background: #B5BDC0;
	margin: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	border: 0.5px solid #B4C392;
}
.LocationTip:hover{
	background: #b3b3b3;
}

.LinkStyle {
	font-family: "Montserrat";
	font-weight: 800;
	background-color: #c2c3c4;
    color: #202428;
    border-radius: 5px; 
    border: 0px;
    margin-bottom: 3px;
}
.LinkStyle:hover {
	background-color: #faa97a;
}
.LinkStyle:focus {
	outline: none;
}
